/* *{
    
    padding: 0;
   margin: 0;
}

.h1{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(245, 247, 174);
    color: rgb(15, 13, 24);
}
.map{
    margin: 10px;
    border: none;
    width: 400px;
    height: 200px;
    
}
.mapButton{
     display: flex;
    flex-direction: row; 
     
}

textArea{
    border: none;
    width: 150px;
    height: 80px;
   
} */
.container{
    background-color:  #dfded9;
    color: #000000;
}
input{
    border: none;
    border-bottom: 2px solid rgb(130, 238, 224);
    outline: none;
    
}
button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgb(120, 236, 227);
    color: white;
    font-size:larger;
    
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(179, 182, 182);
}
i{
    font-size: larger;
    margin: 5px;
    border: none;
    border-radius: 50%;
}
i:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(179, 182, 182);
}